/* ===== RESET ===== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
  background-color: #ecf0f1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {text-decoration: none; color: #000;}
a:visited {color:#000;}
a:hover {color:#f8da86;}

/* ===== END RESET ===== */ 

/* ==== TYPO ==== */

@font-face {
  font-family: "Caviar";
  src:url('../css/fonts/CaviarDreams.ttf');
}

.char18 {font-size: 18px;}
.char20 {font-size: 20px;}
.char25 {font-size: 25px;}
.char30 {font-size: 30px;}

.caviar {font-family: 'Caviar'};

#global {width: 960px; margin: auto;}

header {width: 100%; margin: auto; text-align: center; margin-top: 20px; margin-bottom: 20px;}


.grille-conteneur {position: relative; width: 100%; margin: auto;}
.ligne {width: 100%; height: 250px; display: block; text-align: center;}
.case {width:235px; height: 235px; display: inline-block; background-color: #3498db; margin:5px; cursor: pointer;}
